<div>
  <div>
    <%#= render 'error', customer: @customer %>
  </div>
  <div >
    <h3><span class="border-bottom border-dark">会員情報編集</span></h3>
  </div>



  <%= form_with model: @customer do |f| %>
    <div >
      <div ><%= f.label "お名前" %></div>
      <div ><%= f.label "(姓)" %></div>
      <div ><%= f.text_field :last_name, :size => "10" %></div>
      <div ><%= f.label "(名)" %></div>
      <div ><%= f.text_field :first_name, :size => "10" %></div>
    </div>

    <div>
      <div ><%= f.label "フリガナ" %></div>
      <div ><%= f.label "(セイ)" %></div>
      <div ><%= f.text_field :last_name_kana, :size => "10" %></div>
      <div ><%= f.label "(メイ)" %></div>
      <div ><%= f.text_field :first_name_kana, :size => "10" %></div>
    </div>

    <div>
      <div ><%= f.label "メールアドレス" %></div>
      <div ><%= f.email_field :email, :size => "50" %></div>
    </div>

    <div >
      <div ><%= f.label "郵便番号(ハイフンなし)" %></div>
      <div ><%= f.text_field :post_code, :size => "10" %></div>
    </div>

    <div>
      <div ><%= f.label "住所" %></div>
      <div ><%= f.text_field :address, :size => "50" %></div>
    </div>

    <div >
      <div ><%= f.label "電話番号(ハイフンなし)" %></div>
      <div ><%= f.text_field :phone_number %></div>
    </div>

    <div >
      <div ></div>
      <div >
        <%= f.submit "編集内容を保存", class:"col btn btn-success" %>
      </div>
      <div><%= link_to "退会する", unsubscribe_path, class: "btn btn-danger" %></div>
    </div>
  <% end %>
</div>
