<div>
  <%= flash[:notice] %>
  <h3 ><span class="border-bottom border-dark">マイページ</span></h3>
  <div >
    <div ><strong>登録情報</strong></div>
    <div ><%= link_to "編集する", edit_customer_path , class: "btn btn-success" %></div>
  </div>

  <table >
    <tbody>
      <tr>
        <th >氏名</th>
        <td><%= @customer.last_name + "　" + @customer.first_name %></td>
      </tr>
      <tr>
        <th >カナ</th>
        <td><%= @customer.last_name_kana + "　" + @customer.first_name_kana %></td>
      </tr>
      <tr>
        <th >郵便番号</th>
        <td><%= @customer.post_code %></td>
      </tr>
      <tr>
        <th >住所</th>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <th >電話番号</th>
        <td><%= @customer.phone_number %></td>
      </tr>
      <tr>
        <th >メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
    </tbody>
  </table>

  <div >
    <div><strong>配送先</strong></div>
    <div ><%= link_to "一覧を見る",shipping_addresses_path,  %></div>
  </div>

  <div >
    <div ><strong>注文履歴</strong></div>
    <div ><%= link_to "一覧を見る", orders_path,  %></div>
  </div>
</div>
