<h3>ショッピングカート</h3>
<div >
  <%= link_to "カートを空にする", destroy_all_path , method: :delete, class: "btn " %>
  <table class ="table">
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
    <% total = 0 %>
    <% @cart_items.each do |item| %>
      <tr>
        <th><%= item.product.name %></th>
        <th><%= item.add_tax %></th>
        <th>
          <%= form_with model: item, url: cart_item_path(item), method: :pach do |f| %>
            <!--%= f.hidden_field :customer_id, :value => current_customer.id %>-->
            <%= f.select :quantity, *[1..10], class: "form-control" %>
            <%= f.submit "変更" %>
          <% end %>
        </th>
        <th><%= item.calc_subtotal %></th>
        <th><%= link_to "削除", cart_item_path(item.id), method: :delete %> </th>
      </tr>
      <% total += item.calc_subtotal %>
    <% end %>

    <table class= "table">
      <tr>
        <th>合計金額</th>
        <td><%= total %> 円</td>
      </tr>
    </table>

    <%= link_to "買い物を続ける", root_path %>
    <%= link_to "レジに進む", new_order_path %>
  </table>
</div>