
<div class="row">
    <div class="col-sm-12 col-md-10 col-lg-8 px-5 px-sm-0 mx-auto">
      <h4>商品一覧</h4>
      
      <div>
          <%= link_to new_admin_product_path do %>
            <%= '追加' %><!-- ＋ボタンに変更予定 -->
          <% end %>
      </div>
      
      <table class="table table-hover">
        <thead class="table-active">
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜き価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
          <tr>
            <td>
              <%= product.id %>
            </td>
            <td>
              <%= link_to admin_product_path(product.id) do %>
                <%= product.name %>
              <% end %>
            </td>
            <td>
              <%= product.price_without_tax.to_s(:delimited)  %>
            </td>
            <td>
              <%= product.genre.name %>
            </td>
            <td>
              <%= product.is_active ? '販売中' : '販売停止中' %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>  

