<h3>注文情報確認</h3>

<div class='col-md-6'>
  <table class="table">
    <tr>
      <td>商品名</td>
      <td>単価(税込)</td>
      <td>数量</td>
      <td>小計</td>
    </tr>
    <% total_cost = 0 %>
    <% @cart_items.each do |item| %>
      <tr>
        <td><%= item.product.name %></td>
        <td><%= item.add_tax %> 円</td>
        <td><%= item.quantity %></td>
        <td><%= item.calc_subtotal %> 円</td>
      </tr>
      <% total_cost += item.calc_subtotal %>
    <% end %>
  </table>
</div>

<div class='col-md-3'>
  <table class="table">
    <tr>
      <td>送料</td>
      <td><%= @order.shipping_cost %> 円</td>
    </tr>
    <tr>
      <td>商品合計</td>
      <td><%= total_cost %> 円</td>
    </tr>
    <tr>
      <td>ご請求額</td>
      <td><%= @order.billing_amount = total_cost + @order.shipping_cost %> 円</td>
    </tr>
  </table>
</div>

<div>
  <h5>支払い方法</h5>
  <%= Order.payment_methods_i18n[@order.payment_method] %>
</div>
<div>
  <h5>お届け先</h5>
  〒<%= @order.post_code.to_s.insert(3, "-") %> <%= @order.address %><br>
  <%= @order.name %>
</div>

<!--create-->
<%= form_with model: @order, url: "/orders", method: :post do |f| %>
  <%= f.hidden_field :customer_id, value: current_customer.id %>
  <%= f.hidden_field :post_code, value: @order.post_code %>
  <%= f.hidden_field :address, value: @order.address %>
  <%= f.hidden_field :name, value: @order.name  %>
  <%= f.hidden_field :payment_method, value: @order.payment_method %>
  <%= f.hidden_field :billing_amount, value: @order.billing_amount  %>
  <%= f.hidden_field :shipping_cost, value: @order.shipping_cost  %>
  <%= f.submit "注文を確定する" %>
<% end %>

