<h3>注文履歴</h3>

<table class ="table">
  <tr>
    <th>注文日</th>
    <th>商品</th>
    <th>金額</th>
    <th>配送先</th>
    <th>ステータス</th>
    <th></th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td>
        <%= order.created_at.strftime('%Y/%m/%d') %>
      </td>
      <td>
        <% order.order_details.each do |detail| %>
          <%= detail.product.name %>
        <% end %>
      </td>
      <td><%= order.billing_amount %></td>
      <td><%= order.address_display %></td>
      <td><%= Order.statuses_i18n[order.status] %></td>
      <td><%= link_to "詳細", order_path(order), class: "form-inline" %></td>
    </tr>
  <% end %>
</table>