<h3>注文情報入力</h3>

<h3>支払い方法</h3>
<%= form_with do |f| %>
  <%= f.radio_button :payment_method, :credit %>
  <%= f.label :payment_method, "クレジットカード", {value: :credit, style: "display: inline-block;"} %>
  <br>
  <%= f.radio_button :payment_method, :transfer %>
  <%= f.label :payment_method, "銀行振込", {value: :transfer, style: "display: inline-block;"} %>
<% end %>

<h3>お届け先</h3>
<%= form_with do |f| %>
  <%= f.radio_button :payment_method, :credit %>
  <%= f.label :payment_method, "ご自身の住所", {value: :credit, style: "display: inline-block;"} %>
  <br>
  <%= f.radio_button :payment_method, :transfer %>
  <%= f.label :payment_method, "登録済住所から選択", {value: :transfer, style: "display: inline-block;"} %>
  <br>
  <%= f.radio_button :payment_method, :transfer %>
  <%= f.label :payment_method, "新しいお届け先", {value: :transfer, style: "display: inline-block;"} %>
  <br>
  <%= form_with do |f| %>
    <%= f.label :郵便番号 %>
    <%= f.text_field "郵便番号", class: "form-controll" %>
  <% end %>
<% end %>

