           <div class="card col-sm-5 mx-auto mt-5">
             <div class=="card-body">
            <h2 class="mt-2 mb-3">ログイン</h2>
            <h3>会員の方はこちらからログイン</h3>
       
           
            <%= form_with model: @customer, url: customer_session_path do |f| %>
           <div class="form-group">
                <%= f.label :メールアドレス,:class => "form-label"%>
                <%= f.email_field :email, autofocus: true, autocomplete: "email" , :class => "form-control", placeholder: "メールアドレスを入力してください" %>
              </div>
             
              <div class="form-group">
                <%= f.label :パスワード,:class => "form-label" %>
                <%= f.password_field :password, autocomplete: "current-password",  :class => "form-control" %>
              </div>
              
              <div class="actions">
                <%= f.submit "ログイン", :class => "btn btn-dark btn-lg btn-block" %>
              </div>
            <% end %>
              <strong>会員登録がお済でない方</strong></br>
             <%= link_to "こちら",new_customer_registration_path%> から新規登録行ってください。
              </div>

